<%= render "shared/header" %>

<div class="main">
  <div class="inner">
    <div class="tweet__wrapper">
      <h2 class="page-heading1">作品投稿</h2>
        <%# 部分テンプレートでフォームを表示する %>
      <%= render partial: "form", locals: {tweet: @tweet} %>
    </div>
  </div>
</div>