* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #272727;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ロゴ部分 */
.logo-icon {
  width: 40vw;
  padding-right: 30px;
  margin: auto;
}

/* 検索項目 */
.search_container{
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.2em;
  width: 250px;
  overflow: hidden;
  background: #3879D9;
}
.search_container input[type="text"]{
  border: none;
  height: 2.0em;
  background: #3879D9;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #fff;
  position: absolute;
  height: 2.5em;
  right: 8px;
  top: -10px;
  outline : none;
}
.search_container ::-webkit-input-placeholder {
  color: #fff;
}

/* カテゴリー等のヘッダー欄 */
.lists-left {
  width: 100%;
  padding: 3vh 3vw;
  display: flex;
  background-color: #272727;
  overflow: scroll;
  white-space:nowrap;
}
.border-list {
  width: 10%;
  text-decoration: none;
  margin-right: 3vw;
  color: white;
}

/* ログイン・新規登録ボタン */
.lists-right {
  float: right;
  margin: 0 0 0 auto;
  font-size: 18px;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0 1vh 7vw;
  display: flex;
  list-style: none;
}


.user-nickname {
  display: inline-block;
  margin: 0 10px;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.nav__btn{
  display: inline-block;
  margin: 0 10px;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout {
  display: inline-block;
  margin: 0 10px;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: red;
  text-decoration: none;
  user-select: none;
  border: 1px red solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.nav__logout:hover{
  color: #fff;
  background: red;
}

/* フッター */
.footer {
  width: 100vw;
  padding: 4vh 0;
  color: #FFF;
  background-color: #272727;
  text-align: center;
}

.footer-contents {
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}

.furima-details {
  margin: 0 4vw;
}

.list-footer {
  color: #FFF;
  font-size: 15px;
  line-height: 30px;
}
.logo-icon3 {
  width: 25vw;
  margin: auto;
}

.copyright {
  text-align: center;
  font-size: 10px;
  margin: 10px 0;
}
