* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 10vw;
  display: flex;
  flex-direction: column;
  background-color: #272727;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-icon {
  width: 30vw;
  /* margin-right: 5vw; */
  margin: auto;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 50%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #1d61b9;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.lists-left {
  width: 100vw;
  padding: 2vh 3vw;
  display: flex;
  background-color: #272727;
}

.border-list {
  text-decoration: none;
  margin-right: 3vw;
  color: white;
  
}


/* ログイン・新規登録ボタン */
.lists-right {
  font-size: 18px;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.user-nickname {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.logout {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: red;
  text-decoration: none;
  user-select: none;
  border: 1px red solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.login {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.sign-up {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

/* フッター */
.footer {
  width: 100vw;
  padding: 10vh 0;
  color: #FFF;
  background-color: #272727;
  text-align: center;
}

.footer-contents {
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}

.furima-details {
  margin: 0 4vw;
}

.list-footer {
  color: #FFF;
  font-size: 15px;
  line-height: 30px;
}
.logo-icon3 {
  width: 25vw;
  margin: auto;
}

.copyright {
  text-align: center;
  font-size: 10px;
  margin: 10px 0;
}
