/* 詳細ページ */
.tweet__wrapper1 {
  min-height: calc(100vh - 161px);
}
.prototype__hedding {
  font-size: 24px;
  padding: 15px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.prototype__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}
.prototype__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}
.prototype__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
  color: #fff;
}
/* .detail__title{
  font-size: 20px;
  font-weight: bold;
  color: #fff;
} */
.prototype__manage{
  display: flex;
  justify-content: center;
  padding-top: 14px;
}
.tweet__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: rgb(192, 192, 192);
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.prototype__btn:hover{
  color: #fff;
  background: #999;
}

.prototype__comments{
  background-color: black;
  padding: 20px;
  margin-left: 20px;
}

/* コメント欄 */
.comments_lists{
  padding-left: 90px;
}

.comments_list{
  list-style-type: initial;
  padding-bottom: 5px;
  color: #fff;
}

.comment_user{
  font-size: 16px;
  color: lightgray;
  text-decoration: underline;
}